footer {
    background-color: #092e4c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-img {
  background-image: url('images/login-img-small.png');
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 1440px) {
    background-image: url('images/login-img.png');
  }
}